:root {
  --neutral-0: hsl(0, 0%, 100%);
  --neutral-300: hsl(0, 0%, 85%);
  --neutral-950: hsl(0, 0%, 0%);
  --slate-50: hsl(214, 37%, 96%);
  --slate-100: hsl(212, 41%, 93%);
  --slate-400: hsl(217, 12%, 62%);
  --slate-600: hsl(216, 17%, 35%);
  --slate-700: hsl(215, 14%, 23%);
  --amber-50: hsl(39, 100%, 94%);
  --amber-40: hsl(40, 97%, 58%);
  --navy: hsl(223, 31%, 27%);
}
.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}
.lexend-deca-regular {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  background: var(--neutral-0);
  font-size: 0.9375rem;
}
img {
  /* To keep the width of the image from going beyond the screen */
  max-width: 100%;
  display: block;
}
ul {
  margin-block: 0;
  padding-inline-start: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h2 {
  font-size: clamp(32px, calc(1rem + 4.6vw), 48px);
  line-height: 100%;
  letter-spacing: -2px;
}
.container {
  box-sizing: border-box;
  max-width: 1130px;
  margin-inline: auto;
  padding-inline: 10px;
}
.primary__btn {
  width: 182px;
  height: 57px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--amber-40);
  font-size: 15px;
  line-height: 165%;
  color: var(--neutral-0);
  transition:
    border 450ms ease-in-out,
    background 450ms ease,
    color 450ms ease-in;
  &:hover {
    border: 3px solid var(--amber-40);
    background: transparent;
    color: var(--amber-40);
  }
}
.header {
  display: flex;
  align-items: center;
  column-gap: 56px;
  padding-block: 19.5px;
  #open__button,
  #close__button {
    display: none;
  }
  nav {
    display: flex;
    align-items: center;
    /* заставит навигацию занять все свободное место */
    flex-grow: 1;
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      column-gap: 32px;
      a {
        line-height: 165%;
        color: var(--slate-400);
        transition: color 350ms ease-in-out;
        &:hover {
          color: var(--amber-40);
        }
      }
    }
    .primary__btn {
      margin-inline-start: auto;
    }
  }
  #overlay {
    background: var(--slate-700);
    opacity: 0.8;
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
  }
}
.main {
  .hero {
    max-width: 1440px;
    min-height: 650px;
    margin-inline: auto;
    display: grid;
    /* Заставляем картинку и контент занимать
    одну и ту же область друг над другом */
    grid-template-areas: "hero";
    position: relative;
    overflow: hidden;
    &::after {
      position: absolute;
      content: "";
      background-image: url("../assets/patterns/white-circles.svg");
      background-repeat: no-repeat;
      width: 452px;
      height: 151px;
      bottom: 100px;
      right: -255px;
    }
    picture {
      grid-area: hero;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    div {
      grid-area: hero;
      width: 500px;
      /* контент всегда поверх картинки */
      z-index: 2;
      text-align: start;
      color: var(--neutral-0);
      margin: 150px 0 150px 165px;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        background-image: url("../assets/patterns/line.svg");
        width: 203px;
        height: 15px;
        bottom: 150px;
        left: -165px;
      }
      &::after {
        position: absolute;
        content: "";
        background-image: url("../assets/patterns/right-arrow.svg");
        width: 452px;
        height: 151px;
        bottom: 20px;
        left: 560px;
      }
      h1 {
        font-size: clamp(40px, calc(0.592rem + 4.588vw), 56px);
        line-height: 100%;
        letter-spacing: -2.5px;
        margin-block-end: 40px;
      }
      p {
        width: 500px;
        line-height: 165%;
        padding-inline-start: 95px;
        margin-block-end: 40px;
      }
      .primary__btn {
        margin-inline-start: 95px;
      }
    }
  }
  .services {
    margin-block: 160px 203px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 975px;
      height: 15px;
      background-color: var(--slate-100);
      top: 40px;
      left: 0;
    }
    .services__block {
      display: flex;
      align-items: center;
      column-gap: 30px;
      li {
        width: 350px;
        min-height: 288px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 40px;
        z-index: 2;
        div {
          h4 {
            font-size: 24px;
            line-height: 115%;
            letter-spacing: -1px;
            color: var(--slate-600);
            margin-block-end: 24px;
          }
          p {
            line-height: 165%;
            color: var(--slate-400);
          }
        }
      }
    }
  }
  .functions {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto 160px auto;
    display: flex;
    flex-direction: column;
    row-gap: 160px;
    .functions-content {
      h2 {
        color: var(--slate-600);
        margin-block-end: 24px;
      }
      p {
        line-height: 165%;
        color: var(--slate-400);
        margin-block-end: 40px;
      }
    }
    img {
      width: 445px;
      height: 445px;
      border-radius: 50%;
    }
    .functions__app {
      position: relative;
      background-image: url("../assets/patterns/circle.svg");
      background-repeat: no-repeat;
      background-position: 135% 50%;
      overflow: hidden;
      &::after {
        position: absolute;
        content: "";
        width: 734px;
        height: 138px;
        background-image: url("../assets/patterns/left-downward-arrow.svg");
        background-repeat: no-repeat;
        bottom: 20px;
        right: 0;
      }
      .functions__app-content {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        column-gap: 220px;
      }
    }
    .functions__coming {
      position: relative;
      background-image: url("../assets/patterns/circle.svg");
      background-repeat: no-repeat;
      background-position: -35% 50%;
      overflow: hidden;
      &::before {
        position: absolute;
        content: "";
        width: 735px;
        height: 138px;
        background-image: url("../assets/patterns/right-arrow.svg");
        background-repeat: no-repeat;
        top: 0;
        left: -105px;
      }
      .functions__coming-content {
        display: flex;
        align-items: center;
        column-gap: 220px;
      }
    }
    .functions__payments {
      position: relative;
      background-image: url("../assets/patterns/circle.svg");
      background-repeat: no-repeat;
      background-position: 135% 50%;
      overflow: hidden;
      &::before {
        position: absolute;
        content: "";
        width: 741px;
        height: 151px;
        background-image: url("../assets/patterns/left-downward-arrow.svg");
        background-repeat: no-repeat;
        top: 75px;
        right: -380px;
      }
      .functions__payments-content {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        column-gap: 220px;
      }
    }
  }
  .sign {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    column-gap: 338px;
    height: 300px;
    background-color: var(--slate-600);
    padding-inline: 165px;
    background-image: url("../assets/patterns/semi-circles.svg");
    background-repeat: no-repeat;
    background-position: 150% 100%;
    h2 {
      width: 415px;
      color: var(--neutral-0);
    }
    .sign__images {
      display: flex;
      align-items: center;
      column-gap: 16px;
    }
  }
}
.footer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--neutral-950);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 33.72px;
  padding-inline: 165px;
  .footer__container {
    display: flex;
    align-items: center;
    column-gap: 65px;
    ul {
      display: flex;
      align-items: center;
      column-gap: 32px;
      a {
        line-height: 165%;
        color: var(--slate-400);
        transition: color 350ms ease-in-out;
        &:hover {
          color: var(--amber-40);
        }
      }
    }
  }
  .footer__social {
    display: flex;
    align-items: center;
    column-gap: 24px;
  }
}
/* 768px */
@media (max-width: 48rem) {
  .container {
    max-width: 709px;
  }
  .main {
    .hero {
      &::after {
        bottom: -45px;
      }
      picture {
        width: 768px;
        height: 650px;
        img {
          width: 768px;
          height: 650px;
        }
      }
      div {
        margin: 0;
        align-self: center;
        justify-self: center;
        &::before {
          display: none;
        }
        &::after {
          left: -250px;
          bottom: -160px;
        }
        h1 {
          text-align: center;
          margin-block-end: 24px;
        }
        p {
          max-width: 573px;
          text-align: center;
          padding-inline-start: 0;
          margin-block-end: 32px;
        }
        .primary__btn {
          margin-inline: auto;
        }
      }
    }
    .services {
      margin: 0;
      padding-block: 122px 129px;
      &::after {
        width: 15px;
        height: 513px;
        left: 125px;
        top: 0;
      }
      .services__block {
        flex-direction: column;
        gap: 40px 0;
        li {
          width: 573px;
          min-height: 127px;
          flex-direction: row;
          gap: 0 80px;
        }
      }
    }
    .functions {
      row-gap: 125px;
      .functions-content {
        max-width: 573px;
        text-align: center;
        h2 {
          margin-block-end: 40px;
        }
        .primary__btn {
          margin: 0 auto;
        }
      }
      .functions__app {
        background-position: 215% 0;
        &::after {
          bottom: 0;
          top: 300px;
        }
        .functions__app-content {
          flex-direction: column;
          gap: 64px 0;
        }
      }
      .functions__coming {
        background-position: -125% 0;
        .functions__coming-content {
          flex-direction: column;
          gap: 64px 0;
        }
      }
      .functions__payments {
        background-position: 215% 0;
        .functions__payments-content {
          flex-direction: column;
          gap: 64px 0;
        }
      }
    }
    .sign {
      flex-direction: column;
      gap: 40px 0;
      padding-block: 54px;
      background-position: 50% 100%;
      h2 {
        text-align: center;
      }
    }
  }
  .footer {
    padding-inline: 39.5px;
    .footer__container {
      column-gap: 59px;
    }
  }
}
/* 420px */
@media (max-width: 26.25rem) {
  .container {
    max-width: 331px;
  }
  .header {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0; */
    column-gap: 0;
    /* position: relative;
    z-index: 11; */
    #open__button {
      display: block;
      /* Занимает 1 часть пространства слева */
      /* flex: 1; */
      /* Становится первым визуально */
      /* order: 1; */
      /* Выравнивание иконки внутри своей зоны */
      /* text-align: left; */
      /* background: none; */
      /* border: none; */
    }
    .header__logo {
      /* Занимает 1 часть пространства по центру */
      flex: 1;
      /* Становится вторым визуально */
      /* order: 2; */
      display: flex;
      /* Центрируем само лого внутри зоны */
      justify-content: center;
    }
    nav {
      position: fixed;
      top: 0;
      left: -100%;
      /* right: -100%; */
      flex-direction: column;
      /* Чтобы элементы могли растягиваться по ширине */
      align-items: stretch;
      /* Пример высоты за вычетом шапки */
      height: 600px;
      padding: 60px 32px 24px;
      z-index: 10;
      background: var(--slate-700);
      ul {
        flex-direction: column;
        gap: 24px 0;
        align-items: flex-start;
        li {
          a {
            font-size: 18px;
            line-height: 135%;
            letter-spacing: -0.803571px;
            color: var(--slate-100);
          }
        }
      }
      .primary__btn {
        width: 152px;
        /* Сбрасываем горизонтальный авто-отступ */
        margin-inline-start: 0;
        /* Толкает кнопку к самому низу мобильного меню */
        margin-block-start: auto;
        /* Центрируем кнопку по горизонтали, если нужно */
        margin-inline: auto;
      }
    }
    nav.show {
      top: 68px;
      left: 0;
      & ~ #overlay {
        height: 600px;
        margin-block-start: 68px;
        display: block;
      }
    }
    #open__button:has(~ .show) {
      display: none;
    }
    #close__button:has(~ .show) {
      display: block;
      /* margin-inline-end: auto; */
    }
  }
  .main {
    .hero {
      &::after {
        display: none;
      }
      picture {
        width: 375px;
        img {
          width: 375px;
        }
      }
      div {
        &::after {
          left: -330px;
          bottom: -140px;
        }
      }
    }
    .services {
      padding-block: 116px 114px;
      &::after {
        display: none;
      }
      .services__block {
        row-gap: 48px;
        li {
          width: 311px;
          align-items: center;
          flex-direction: column;
          img {
            width: 56px;
            height: 56px;
            margin-block-end: 24px;
          }
          div {
            text-align: center;
            h4 {
              margin-block-end: 30px;
            }
          }
        }
      }
    }
    .functions {
      row-gap: 56px;
      margin-block-end: 116px;
      img {
        width: 311px;
        height: 311px;
      }
      .functions-content {
        h2 {
          margin-block-end: 32px;
        }
        p {
          margin-block-end: 32px;
        }
      }
      .functions__app {
        background-image: none;
        &::after {
          right: 0;
          left: 40px;
          top: 170px;
        }
      }
      .functions__coming {
        background-image: none;
        &::before {
          left: -195px;
        }
      }
      .functions__payments {
        background-image: none;
        &::before {
          top: 5px;
          right: -485px;
        }
      }
    }
    .sign {
      height: 320px;
      background-position: 80% 100%;
      padding-inline: 0;
      h2 {
        width: 311px;
      }
    }
  }
  .footer {
    flex-direction: column;
    row-gap: 88px;
    .footer__container {
      flex-direction: column;
      gap: 44px 0;
      ul {
        flex-direction: column;
        gap: 16px 0;
      }
    }
  }
}
